body {
  font-size: 14px;
  line-height: 21px; /* указан минимальный line-height из имеющихся в макете */
  color: #333333;
  font-weight: normal;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
}

/* для остальных текстовых стилей прописал только уникальные свойства, без дублирования тех, которые уже прописаны в body */

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;  
}

.h2-style {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.main-navigation a {
  line-height: 26px;
  color: #000000;
  font-weight: bold; 
  text-decoration: none;
}