body {
  margin: 0;
  font-size: 14px;
  line-height: 21px; /* указан минимальный line-height из имеющихся в макете */
  font-weight: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

.body-shadow {
  display: block;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: -5px 0 30px -10px #808080,
              5px 0 30px -10px #808080;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


/* общие стили */

.container,
.footer-container
{
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
  text-align: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h2, .h2-style {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}


/* стили хэдэра */

.main-header .container {
  position: relative;
  min-height: 56px;
}

.main-navigation ul {
  margin: 0 6%;
  padding: 0;
}

.main-navigation li {
  width: 20%;
  padding-top: 15px;
  list-style: none;
}

.main-navigation li:nth-child(2) {
  margin-left: 15px;
}

.main-navigation li:nth-child(4) {
  margin-right: 15px;
}

.main-navigation a {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active,
.main-navigation .active-link
{
  color: #766357;
}

.main-navigation .active-link:hover {
  color: #604e43;
}

.main-navigation .active-link:active {
  color: rgba(118, 99, 87, 0.3);
}

.index-logo {
  position: absolute;
  top: 0; left: 0; right: 0;
  width: 138px;
  height: 70px;
  margin: auto;
}


/* стили мэйна */

.welcome {
  background: url(../img/index-background-photo.jpg) no-repeat #7b8291;
  background-size: cover;
  overflow: hidden;
}

.welcome img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 84px;
}

.about {
  position: relative;
}

.about::before {
  position: absolute;
  content: '';
  top: -36px;
  left: 0;
  right: 0;
  width: 100%;
  height: 37px;
  background: url(../img/main-mask-768.png) no-repeat;
  background-size: 100% 37px;
  background-position: center;
}

.about-title {
  width: 440px;
  margin: 0 auto 30px;
  padding-top: 57px;
  text-align: center;
}

.about p {
  text-align: center;
}

.about-title + p {
  padding-bottom: 38px;
}

.about-content .about-text {
  box-sizing: border-box;
  width: 33%;
  min-height: 256px;
  padding-top: 49px;
  padding-left: 4.6%;
  padding-right: 4.6%;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
}

.about-text b {
  color: #ffffff;
  line-height: 16px;
}

.about-text p {
  margin-top: 20px;
}

.about-content .about-img-town {
  width: 67%;
  min-height: 256px;
  background: url(../img/real-town.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.live-eat-souvenirs > div {
  width: calc(100% / 3);
  box-sizing: border-box;
  min-height: 330px;
  margin-bottom: 10px;
  padding-left: 6.5%;
  padding-right: 6.5%;
  text-align: center;
}

.live-eat-souvenirs > div:nth-child(3) {
  padding-left: 5.5%;
  padding-right: 5.5%;
}

.live-eat-souvenirs p {
  margin-top: 25px;
  margin-bottom: 0;
}

.sprite {
  background: url(../img/sprite-live-eat-souvenirs.png) no-repeat;
}

.picture-house {
  width: 75px;
  height: 72px;
  margin: 60px auto 32px;
  background-position: -89px -5px;
}

.picture-burger {
  width: 74px;
  height: 70px;
  margin: 60px auto 34px;
  background-position: -5px -5px;
}

.picture-souvenir {
  width: 64px;
  height: 76px;
  margin: 60px auto 28px;
  background-position: -5px -87px;
}

.about-content .about-img-bridge {
  width: 67%;
  min-height: 256px;
  background: url(../img/devils-bridge.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.square-road-tourists {
  position: relative;
  z-index: 2;
  background-color: #eeeeee;
}

.square-road-tourists > div {
  width: calc(100% / 3);
  box-sizing: border-box;
  min-height: 256px;
  padding-top: 50px;
  padding-left: 6.45%;
  padding-right: 6.45%;
  text-align: center;
}

.square-road-tourists > div:nth-child(2) {
  padding-left: 7;
  padding-right: 7%;
}

.square-road-tourists b {
  line-height: 16px;
}

.square-road-tourists p {
  margin-top: 21px;
}

.got-interested {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 600px;
  min-height: 291px;
  margin: 0 auto;
  padding-top: 57px;
  text-align: center;
  background: #ffffff;
}

.got-interested b {
  font-size: 30px;
}

.got-interested p {
  padding-top: 13px;
  padding-bottom: 36px;
}

.got-interested .get-form {
  display: block;
  box-sizing: border-box;
  width: 568px;
  height: 86px;
  margin: 0 auto;
  padding-top: 31px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #766357;
  border: 0;
  outline: 0;
  color: #ffffff;
}

.date {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search-form {
  position: absolute;
  left: 0; right: 0; top:-395px;
  z-index: 1;
  box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  padding: 54px;
  font-weight: bold;
  text-align: right;
  background-color: #ffffff;
}

input[type="text"]::-webkit-input-placeholder {
  color: #000000;
}

input[type="text"]::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

input[type="text"]:-moz-placeholder {
  color: #000000;
}

input[type="text"]:-ms-input-placeholder {
  color: #000000;
}

.form-date-text {
  margin-bottom: 27px;
  text-align: left;
}

label[for="date-text-in"] {
  padding-right: 18px;
}

label[for="date-text-out"] {
  padding-right: 15px;
}

input[id="date-text-in"], input[id="date-text-out"]
{
  width: 297px;
  height: 38px;
  padding-left: 15px;
  padding-right: 33px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: middle;
  border: 0;
  outline: 0;
  background-color: #f2f2f2;
}

input[id="date-text-in"]:hover,
input[id="date-text-out"]:hover
{
  background-color: #ebebeb;
}

input[id="date-text-in"]:focus,
input[id="date-text-out"]:focus
{
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ebebeb;
}

.icon-calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  font-size: 21px;
  color: #c2c2c2;
  font-style: normal;
}

.date-in {
  top: 63px; right: 70px;
}

.date-out {
  top: 131px; right: 70px;
}

.icon-calendar:hover, .icon-minus:hover, .icon-plus:hover {
  color: #000000;
}

.icon-calendar:active, .icon-minus:active, .icon-plus:active {
  color: #81b3d2;
}

.steppers {
  margin: 30px auto 54px;
}

.steppers input, .icon-minus, .icon-plus {
  width: 38px;
  height: 38px;
  margin: 0 -2px;
  text-align: center;
  border: 0;
  outline: 0;
  background-color: #f2f2f2;
}

.stepper-adults input[type="text"],
.stepper-kids input[type="text"] {
  height: 37px;
  padding-top: 0px;
}

.icon-plus, .icon-minus
{
  font-size: 14px;
  color: #a9a9a9;
}

.stepper-adults .icon-minus {
  margin-left: 41px;
}

.stepper-kids .icon-minus {
  margin-left: 27px;
}

.btn-search {
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: 0;
  outline: 0;
  color: #ffffff;
}

.btn-search:hover {
  background-color: #669ec0;
}

.btn-search:active {
  color: #78accb;
  background-color: #5496bd;
}

/* Дополнительные стили для анимации формы поиска гостиницы */

@keyframes form-open {
  30% {
    transform: translateY(395px);
  }
  40% {
    transform: translateY(250px);
  }
  80% {
    transform: translateY(395px);
  }
  90% {
    transform: translateY(365px);
  }
  100% {
    transform: translateY(395px);
  }
}

@keyframes form-close {
  from {
    transform: translateY(395px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes form-error {
  0%  {
    transform: translateY(395px);
    -webkit-filter: blur(0);
    filter: blur(0);
    box-shadow: 0px 0 20px 0px #808080,
                inset 0 0 0 0 red;
  }

  50% {
    transform: translateY(395px);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    box-shadow: 0px 0 20px 0px #808080,
                inset 0 0 10px 10px red;
  }

  100% {
    transform: translateY(395px);
    -webkit-filter: blur(0);
    filter: blur(0);
    box-shadow: 0px 0 20px 0px #808080,
                inset 0 0 10px 10px red;
  }
}

.animation-form-open {
  animation-name: form-open;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  box-shadow: 0px 0 20px 0px #808080;
}

.animation-form-close {
  animation-name: form-close;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.animation-form-error {
  animation-name: form-error;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.search-form-page {
  background-color: #eeeeee;
}

.search-form-title {
  padding-top: 20px;
  text-align: center;
}

.no-js-form {
  position: relative;
  top: 0;
  margin: 0 auto 20px;
}


/* Стили футера */

.main-footer {
  position: relative;
}

.map {
  min-height: 593px;
  background: url(../img/index-map.png) no-repeat;
  background-position: center;
  overflow: hidden;
}

.map iframe {
  width: 100%;
  height: 593px;
  border: 0;
  outline: 0;
}

.main-footer-absolute {
  position: absolute;
  bottom: 0; right: 0; left: 0;
  background-color: rgba(255,255,255,0.9);
}

.footer-container > section {
  width: calc(100% / 3);
  box-sizing: border-box;
  min-height: 120px;
}

.footer-visit {
  padding-top: 46px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-social {
  text-align: center;
}

.footer-social a {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin-top: 36px;
  margin-right: 2px;
  text-align: center;
  font-size: 19px;
  line-height: 48px;
  vertical-align: middle;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.footer-social a:hover {
  background-color: #669ec0;
}

.footer-social a:active {
  color: #78accb;
  background-color: #5496bd;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright p,
.footer-copyright a
{
  display: inline-block;
  vertical-align: top;
  margin-top: 41px;
}

.footer-copyright p {
  margin-right: 5px;
  line-height: 39px;
}

.footer-copyright a {
  height: 39px;
  width: 113px;
  background: url(../img/academy-spritesheet.png) no-repeat;
  background-position: -5px -5px;
}

.footer-copyright a:hover {
  background-position: -5px -103px;
}

.footer-copyright a:active {
  background-position: -5px -54px;
}


/* дополнительные стили для мэйна страницы search-result */

.hotel-character {
  padding-top: 30px;
  min-height: 187px;
  font-size: 14px;
  line-height: 21px;
  background: url(../img/search-background-photo.jpg) no-repeat #5e717c;
  background-size: cover;
  overflow: hidden;
  color: #ffffff;
}

.hotel-character fieldset {
  padding-top: 0;
}

.hotel-character legend {
  font-size: 16px;
  font-weight: bold;
}

.form-infrastructure,
.form-living-type {
  width: 31.5%;
  max-width: 250px;
  padding-left: 6%;
}

input[type="checkbox"]
{
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  display: block;
  margin-bottom: 24px;
  padding-left: 40px;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0; left: 0;
  width: 22px;
  height: 22px;
  font-family: "symbols-sedona";
  font-size: 26px;
  color: #ffffff;
}

input[type="checkbox"]:hover + label::before {
  color: #e3e5e5;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

input[type="checkbox"]:disabled + label::before {
  color: #5f6161;
}

input[type="checkbox"]:checked:disabled + label::before {
  color: #5f6161;
}

.form-cost {
  width: 29%;
  font-size: 0; /* для ликвидации пробелов в inline-block */
  text-align: center;
}

.form-infrastructure,
.form-living-type,
.form-cost
{
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 0;
  border: 0;
  outline: 0;
}

.form-infrastructure legend,
.form-living-type legend
{
  display: block;
  margin-bottom: 25px;
}

.form-cost {
  margin-right: 6%;
}

.form-cost legend {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

.cost-values {
  position: relative;
  box-sizing: border-box;
  max-width: 316px;
  margin: 0 auto 5px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  overflow: hidden;
}

.cost-values label {
  display: inline-block;
  vertical-align: middle;
  width: 42%;
  margin: 0;
  padding-top: 6px;
  padding-left: 16px;
  padding-bottom: 6px;
  font-size: 14px;
}

.cost-values label:nth-child(3) {
  padding-left: 9px;
}

.cost-separate {
  position: absolute;
  left: 50%; top: 6px;
  height: 22px;
  width: 2px;
  background: #ffffff;
}

.form-cost input[type="text"] {
  width: 30px;
  border: 0;
  outline: 0;
  background: none;
  color: #ffffff;
}

.range-controls {
  position:relative;
  height:30px;
  max-width: 302px;
  margin: 0 auto;
  padding-left: 15px;
  overflow:hidden;
}

.scale {
  margin-top:15px;
  height:2px;
  background: rgba(255, 255, 255, 0.3);
}

.scale .bar {
  width: 80%;
  height:2px;
  background: #ffffff;
}

.toggle {
  position:absolute;
  top:6px;
  width:4px;
  height:4px;
  border:8px solid white;
  background:#ababab;
  cursor:pointer;
  border-radius:50%;
}

.toggle:hover {
  background: #1c4f80;
}

.min-toggle {
  left: 0%;
}

.max-toggle {
  left: 80%;
}

.btn-show {
  display: block;
  width: 137px;
  height: 36px;
  margin: 16px auto 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
}

.btn-show:hover {
  background: #ffffff;
  color: #000000;
}

.found-header {
  box-sizing: border-box;
  min-height: 86px;
  padding-left: 6%;
  padding-right: 7.5%;
  padding-top: 30px;
  border-bottom: 2px solid #e5e5e5;
}

.sort {
  margin: 0;
  padding-left: 48px;
}

.sort li {
  display: inline-block;
  vertical-align: top;
  padding-right: 33px;
  font-size: 12px;
}

.sort li:first-of-type {
  padding-right: 40px;
}

.sort li:nth-of-type(2) a {
  color: #81b3d2;
  text-decoration: none;
}

.sort li:nth-of-type(n+3) a {
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sort li:nth-of-type(n+3) a:hover {
  color: #81b3d2;
}

.sort li:nth-of-type(n+3) a:active {
  color: #000000;
  border-bottom: none;
}

.found-header p {
  width: 11px;
  height: 10px;
  margin: 0 0 0 12px;
  font-size: 23px;
}

.icon-up-dir {
  color: #cdcdcd;
  cursor: pointer;
}

.icon-up-dir:hover {
  color: #000000;
}

.icon-up-dir:active {
  color: #81b3d2;
}

.icon-down-dir {
  color: #8ab8d5;
}

.found-result {
  box-sizing: border-box;
  min-height: 150px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  border-bottom: 2px solid #e5e5e5;
}

.found-result img {
  width: 135px;
  height: 90px;
}

.found-result-content {
  max-width: 314px;
  margin-left: 30px;
  margin-top: -5px;
}

.found-result-content h2,
.found-result-content p,
.found-result-content a,
.found-result-rating p,
.found-result-rating a
{
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.found-result-content h2:hover {
  color: #81b3d2;
}

.found-result-content h2:active {
  color: rgba(0, 0, 0, 0.3);
}

.found-result-content div {
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.found-result-content p {
  padding-bottom: 15px;
}

.btn-know-more,
.btn-book
{
  padding: 5px 17px;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn-know-more {
  background-color: #81b3d2;
}

.btn-know-more:hover {
  background-color: #669ec0;
}

.btn-know-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.btn-book {
  background-color: #766357;
}

.btn-book:hover {
  background-color: #604e43;
}

.btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.icon-star {
  font-size: 19px;
  color: #81b3d2;
}

.found-result:nth-of-type(1) .icon-star {
  margin-right: 61px;
}

.found-result:nth-of-type(1) .icon-star::before {
  content: "\2605 \00a0 \2605 \00a0 \2605 \00a0 \2605";
}

.found-result:nth-of-type(2) .icon-star {
  margin-right: 16px;
}

.found-result:nth-of-type(2) .icon-star::before {
  content: "\2605 \00a0 \2605";
}

.found-result:nth-of-type(3) .icon-star {
  margin-right: 39px;
}

.found-result:nth-of-type(3) .icon-star::before {
  content: "\2605 \00a0 \2605 \00a0 \2605";
}

.hotel-rating {
  margin-top: 40px;
  padding: 5px 14px;
  color: #666666;
  background-color: #f2f2f2;
}